.containerTitle {

    display: flex;
    justify-content: center;
    margin-top: 3em;

}

.textStyle {

   font-size: 20px;
    width: 500px;
}

.containerInput {

    display: flex;
    justify-content: center;
    gap: 1em;

}

.inputStyle {

    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.allJobs {

    margin-left: 1em;

}

.jobsImage {

    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 90px;
}

.containerJobs {

    display: flex;
    gap: 1em;
}

.containerJobs2 {

    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}